################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/Core/Base/Corn/bin
/Core/Base/Corn/obj
/Core/Common/Corn/bin
/Core/Common/Corn/obj

/Data/DB/bin
/Data/DB/obj

/Test/Renegade/bin
/Test/Renegade/obj
/packages
*.user
*.suo
*.dbmdl